@charset "utf-8";
/* CSS Document */
/*Body and Footer CSS*/
html {
	font-family: "Roboto", sans-serif;	
}
body {
	background-color: #E7ECEF;
	overflow-x: auto;
	overflow-y: auto;
}
footer {
	text-align: center;
	position: absolute;
	width: 100%;
	padding-top: 5%;
}
/*Nav Bar*/
body {margin: 0;}
ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #8B8C89;
	font-size: 20px;
}
ul.topnav li {
	float: left;
}
ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
	background-color: #A3CEF1;
	transition: 0.2s;
}
ul.topnav li a.active {
	background-color: #6096BA;
}
@media screen and (max-width: 1000px) {
	ul.topnav li.right, 
	ul.topnav li {float: none;}
}

/*About Me Section*/
.aboutHeader{
	width: 100%;
	padding-top: 50px;
}
#tabLeft {
	float: left;
	width: 35%;
}
#tabRight {
	float: left;
	width: 65%;
}
.aboutHeader:after {
	content: "";
	display: table;
	clear: both;
}

* {
  box-sizing: border-box;
}
/*Image CSS*/
	.aboutImage{
		padding: 1%;
		max-width: 100%;
		width: 550px;
		height: auto;
	}
@media screen and (min-width: 1001px){

	#textRight{
		padding: 0 5% 5% 5%;
	}
	#textAbout{
		font-size: 1.7vw;
	}
	#textName{
		font-size: 2vw;
	}
	
}
@media screen and (max-width: 1000px) {
	#tabLeft{
		width: 100%;
	}
	#tabRight{
		width: 100%;
	}
	.aboutHeader{
		padding-top: 0px;
	}
		#textAbout{
		font-size: 4vw;
	}
	#textName{
		font-size: 5vw;
	}
	#textRight{
		padding: 0 5% 5% 5%;
	}
}