@charset "utf-8";
/* CSS Document */
/*Body and Footer CSS*/
html {
	font-family: "Roboto", sans-serif;	
}
body {
	background-color: #E7ECEF;
	overflow-x: auto;
	overflow-y: auto;
}
footer {
	text-align: center;
	position: absolute;
	width: 100%;
	padding-top: 5%;
}
/*Nav Bar*/
body {margin: 0;}

ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #8B8C89;
	font-size: 20px;
}
ul.topnav li {
	float: left;
}
ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
ul.topnav li a:hover:not(.active) {
	background-color: #A3CEF1;
	transition: 0.2s;
}
ul.topnav li a.active {
	background-color: #6096BA;
}
@media screen and (max-width: 1000px) {
	ul.topnav li.right, 
	ul.topnav li {float: none;}
}

/*Timebar*/
* {
  box-sizing: border-box;
}
.timeline {
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 5%;
}
.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	background-color: white;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -3px;
}
.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}
.container::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: #274C77;
	border: 5px solid #274C77;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}
.left {
	left: 0;
}
.right {
	left: 50%;
}
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent #A3CEF1;
}
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent #A3CEF1 transparent transparent;
}
.right::after {
	left: -16px;
}
.content {
	padding: 20px 30px;
	background-color: #A3CEF1;
	position: relative;
	border-radius: 6px;
}
@media screen and (max-width: 1000px) {
	.timeline::after {
		left: 31px;
		padding-top: 50%;
	}
	.container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}
	.container::before {
		left: 60px;
		border: medium solid white;
		border-width: 10px 10px 10px 0;
		border-color: transparent #A3CEF1 transparent transparent;
	}
	.left::after, .right::after {
		left: 15px;
	}
	.right {
		left: 0%;
	}
}